h2{
    font-size: 36px;
    line-height: 54px;

}
h4{
    font-size: 18px;
    line-height: 28px;
}

.DanhSach{
    height: 87vh;
    border-radius: 24px;
    margin: 2vh 25px 46px 350px;
    background-color: white;
}

.DanhSach .DanhSach-tk{
    padding: 24px;
}

.DanhSach .DanhSach-tk .DanhSach-Ve {
    display: flex;
    padding-top: 10px;
    align-items: stretch;
    justify-content: space-between;
}

.DanhSach .DanhSach-tk .search{
    display: inline;
    border-radius: 12px;
    padding: .5em 1em .5em 0.5em;
    margin-top: 33px;
    background-color: #F7F7F8;
    box-shadow: 0 1px 4px 0 rgba(255, 255, 255, 0);
  }
  .DanhSach .DanhSach-tk .DanhSach-Ve .search input{
    font-size: 16px;
    border: none;
    background: none;
    padding: 10px 16px;
    width: 350px;
    
  }

  input:focus{
    outline: none;
}

.DanhSach-locVe{
    margin-top: 27px;
}

.DanhSach-locVe1{
    display: contents;
    border-radius: 1px solid white;
}

button.ThemVe{
    margin-right: 7px;
    padding: 15px;
    background-color: #FF993C;
    color: #fff;
    border: 1px solid;
    font-size: 22px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}
button.XuatFile {
    margin-right: 7px;
    padding: 15px;
    background-color: white;
    color: #FF993C;
    border: 1px solid;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
}

button.btn-capnhap {

    padding: 5px;
    background-color: white;
    color: #FF993C;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    border: none;
    cursor: pointer;
}

.EditOutlined{
    font-size: 21px;
}

/* table */
table.table-danhsachgoive th{
    padding: 20px 20px;
    font-weight: 500;
  }
  table.table-danhsachgoive td{
    padding: 15px 20px;
  }
  
table.table-danhsachgoive {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
}
table.table-danhsachgoive thead tr:nth-child(2n + 1) {
    background: #F1F4F8;
    
  }
table.table-danhsachgoive tbody tr:nth-child(2n + 2) {
    background: #F1F4F8;
  }