
h2{
    font-size: 36px;
    line-height: 54px;

}
h4{
    font-size: 18px;
    line-height: 28px;
}

.Home{
    height: 87vh;
    border-radius: 24px;
    margin: 2vh 25px 46px 350px;
    background-color: white;
}

.Home .Home-tk{
    padding: 24px;
}

.Home .Home-tk .Home-tk-1 {
    display: flex;
    padding-top: 32px;
    align-items: stretch;
    justify-content: space-between;
}

.Home-tk-3{
    padding: 24px;
}


#ChanTrang{
    display:flex;
    margin-top:350px;

}
#ChanTrang #ChanTrang1{
    width: 200px;
    margin-left: 250px;
    margin-top: 50px;
}
#ChanTrang #ChanTrang2{
    width: 200px;
    margin-left: 220px;
    margin-top: 50px;
}

#boder1 {
    border: 0.5px solid white;
     background-color: white;
    box-shadow: 2px 2px 2px #e1dede;
     border-Radius: 4px;
     width: 60px;
     margin-top: 19px;
     margin-left: 227px;
     position: relative;
     height: 35px;
     padding: 5px;
     text-align: center;
}
#boder2 {
    border: 0.5px solid white;
     background-color: white; 
     box-shadow: 2px 2px 2px #e1dede;
     margin-left: 400px;
     border-Radius: 4px;
     width: 60px;
     margin-top: -174px;
     position: relative;
     height: 35px;
     padding: 5px;
     text-align: center;
}
#boder3 {
    border: 0.5px solid white;
     background-color: white; 
     box-shadow: 2px 2px 2px #e1dede;
     margin-left: 840px;
     margin-top: -80px;
     border-Radius: 4px;
     width: 60px;
     position: relative;
     height: 35px;
     padding: 5px;
     text-align: center;
}
#boder4 {
    border: 0.5px solid white;
     background-color: white; 
     box-shadow: 2px 2px 2px #e1dede;
     margin-left: 627px;
    margin-top: -15px;
     border-Radius: 4px;
     width: 60px;
     position: relative;
     height: 35px;
     padding: 5px;
     text-align: center;
}


input[type="date"] text {
    background: pink;
}